<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>snap-it.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>341275E51BD39ED500F03A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>341276011BD39ED500F03A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3412760C1BD39ED500F03A1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
